RUST_BACKTRACE=1
CLIENT_DIR=/var/www/client
DATABASE_URL=:memory:
DATABASE_MIGRATION_DIR=./migrations
MOVIE_DIR=/Movies
TRANSMISSION_USER=transmission
TRANSMISSION_PWD=abcd1234
TRANSMISSION_URL="http://transmission:9091/transmission/rpc"
# enter your google key below
# GOOGLE_KEY=